<table class="table table-striped table-sm text-green2">
  <thead>
    <th scope="col"><%= Tool.human_attribute_name(:code) %></th>
    <th scope="col"><%= Tool.human_attribute_name(:name) %></th>
    <th scope="col"><%= Category.human_attribute_name(:name) %></th>
    <th scope="col"><%= SubCategory.human_attribute_name(:name) %></th>
    <th scope="col"><%= PlaceMaster.human_attribute_name(:building) %></th>
    <th scope="col"><%= PlaceMaster.human_attribute_name(:room_num) %></th>
    <th scope="col"><%= PlaceMaster.human_attribute_name(:name) %></th>
    <th scope="col">使用状況</th>
    <th scope="col"></th>
  </thead>
  <tbody>
    <% if @tools.count > 0 %>
      <% @tools.each do |tool| %>
        <tr>
          <td><%= tool.code %></td>
          <td><%= tool.name %></td>
          <td><%= tool.category.name %></td>
          <td>
            <% if tool.sub_category_id %>
              <%= tool.sub_category.name %>
            <% else %>
              <%= tool.other_category.name %>
            <% end %>
          </td>
          <td><%= tool.place.place_master.building %></td>
          <td><%= tool.place.place_master.room_num %></td>
          <td><%= tool.place.place_master.name %></td>
          <% if tool.tool_users.find_by(returned_flag: false) %>
            <td class="text-center"><%= icon "fas", "user-check", class: "text-success" %></td>
          <% else %>
            <td></td>
          <% end %>
          <td class="text-right"><%= link_to @button_text, edit_tool_path(tool.id), class: "btn btn-sm btn-outline-dark" %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td>対象の工具はありません</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tools %>
