<div class="container px-3">
  <div class="col-lg-6 col-md-8 mx-auto py-5 text-center rounded-lg border-green1 text-green2 bg-white-80 login-form">
    <h2 class="mb-4">ログイン</h2>
    <p class="mb-2 text-danger"><%= @error_massage %></p>
    <%= form_for :session, url: login_path, html: { class: "mx-3" } do |f| %>
      <div class="form-group">
        <label><%= "#{User.human_attribute_name(:employee_number)} 又は #{User.human_attribute_name(:email)}" %></label>
        <input type="text" class="form-control form-control" name="employee_number_or_email">
      </div>
      <div class="form-group">
        <%= f.label :password, User.human_attribute_name(:password) %>
        <%= f.password_field :password, required: true, class: "form-control" %>
      </div>
      <%= f.submit "ログイン", class: "btn btn-success mt-3 px-5" %>
    <% end %>
  </div>
</div>