<div class="mb-4 d-flex align-items-center">
  <h5 class="m-0 mr-auto text-green2"><%= sub_title %></h5>
  <%= link_to "一覧画面へ", users_path, class:"btn btn-sm btn-success btn-width" %>
</div>

<%# controller側でdisabledのプロパティに設定する値をインスタンス変数にして渡す %>
<%= form_for @user, html: { class: "text-green2" } do |f| %>

  <%= render partial: 'layouts/error_messages', locals: { model: f.object, model_2: nil } %>

  <%# ユーザー情報 %>
  <div class="form-row">
    <div class="form-group col-md">
      <%= f.label :name, class: "col-form-label col-form-label-sm" %>
      <%= f.text_field :name, required: true, disabled: @is_disabled, class: "form-control form-control-sm" %>
    </div>
    <div class="form-group col-md">
      <%= f.label :email, class: "col-form-label col-form-label-sm" %>
      <%= f.email_field :email, required: true, disabled: @is_disabled, class: "form-control form-control-sm" %>
    </div>
  </div>

  <%# 部門 %>
  <div class="form-row">
    <div class="form-group col-md">
      <label class="col-form-label col-form-label-sm"><%= Group.human_attribute_name(:group_id) %></label>
      <select required="required" <%= disabled="disabled" if @group_admin_boolean %> class="form-control form-control-sm select-group-code" name="user[group_id]">
      <%= @groups.each do |g| %>
        <option <%= selected="selected" if @user.group_id == g.id %> value="<%= g.id %>"><%= g.code %></option>
      <% end %>
      </select>
    </div>
    <div class="form-group col-md">
      <label class="col-form-label col-form-label-sm"><%= Group.human_attribute_name(:name) %></label>
      <input disabled="disabled" class="form-control form-control-sm select-group-name" type="text" value="<%= @user.group.name %>">
    </div>
  </div>

  <%# ユーザー区分 %>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= render partial: "form_admin", locals: { selected_admin: @user.admin } %>
    </div>
  </div>

  <% if !@is_disabled %>
    <div class="text-right">
      <%= f.submit "更新", class: "btn btn-sm btn-success btn-width" %>
    </div>
  <% end %>

<% end %>
