<%# 検索フォーム %>
<%= form_tag search_users_path, method: :get, class: "input-group input-group-sm mb-3" do %>
  <div class="input-group-prepend">
    <select class="btn btn-outline-secondary rounded-left" name="search_column">
      <option value="employee_number" <%= "selected" if @search_column == "employee_number" %>><%= User.human_attribute_name(:employee_number) %></option>
      <option value="name" <%= "selected" if @search_column == "name" %>><%= User.human_attribute_name(:name) %></option>
      <option value="email" <%= "selected" if @search_column == "email" %>><%= User.human_attribute_name(:email) %></option>
    </select>
  </div>
  <%= text_field_tag :search_value, "", placeholder: "検索", class: "form-control", value: @search_value %>
  <div class="input-group-append">
    <%= button_tag type: :submit, class: "btn btn-success" do %>
      <%= icon "fas", "search" %>
    <% end %>
  </div>
<% end %>

<table class="table table-striped table-sm text-green2">
  <thead>
    <th scope="col"><%= User.human_attribute_name(:employee_number) %></th>
    <th scope="col"><%= User.human_attribute_name(:name) %></th>
    <th scope="col"><%= User.human_attribute_name(:email) %></th>
    <%# アプリ管理者の場合は、部門を追加表示 %>
    <% if app_admin?(current_user) %>
      <th scope="col"><%= Group.human_attribute_name(:code) %></th>
      <th scope="col"><%= Group.human_attribute_name(:name) %></th>
    <% end %>
    <th scope="col"><%= User.human_attribute_name(:admin) %></th>
    <th scope="col"><%= User.human_attribute_name(:approval_flag) %></th>
    <th scope="col"></th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.employee_number %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <% if app_admin?(current_user) %>
          <td><%= user.group.code %></td>
          <td><%= user.group.name %></td>
        <% end %>
        <td><%= @options_admin_hash[user.admin] %></td>
        <td><%= "承認待ち" unless user.approval_flag %></td>
        <td class="text-right">
          <%= link_to edit_user_path(user.id), class: "btn btn-sm btn-outline-dark" do %>
            <% if app_admin?(current_user) || admin?(current_user) || current_user.id == user.id %>
              編集
            <% else %>
              詳細
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>
